html,
body {
    font-family: 'Raleway', sans-serif;
}

li {
    font-size: 1.5rem;
    font-weight: 600;
}

li>a:hover {
    color: rgba(220, 220, 220, 0.85) !important;
    transition: 0.2s linear color;
}

nav {
    background: rgb(212, 91, 4);
    background: linear-gradient(90deg, rgba(212, 91, 4, 1) 6%, rgba(246, 38, 38, 1) 42%, rgba(186, 189, 3, 1) 84%);
}