html,
body {
    overflow: hidden;
}

.lead {
    color: white;
    font-size: 2rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.85);
}

h1 {
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.85);
}

img {
    z-index: 0;
    position: absolute;
    margin-top: 1rem;
}

nav {
    z-index: 1001;
}

.lead span {
    color: red;
    font-weight: 600;
}

.box {
    display: block;
    position: absolute;
    top: 10rem;
    left: 1rem;
}